<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>General Channel</title>
</head>
<body>
	<h2>Welcome to the General Channel</h2>

	<!-- Display chat messages here -->
	<div id="chatMessages">
		<ul id="messageList">
			<li th:each="message : ${chatMessages}"><span
				th:text="${message.sender}"></span>: <span
				th:text="${message.content}"></span></li>
		</ul>
	</div>
	<form id="messageForm">
		<input type="text" id="messageInput"
			placeholder="Type your message..." required>
		<button type="submit">Send</button>
	</form>
	<script type="text/javascript" src="/js/channel.js"></script>
</body>
</html>